<div class="container container__card">
  <div class="icon__services">
    <img src="images/gears-solid.svg" alt="" />
  </div>
  <div class="card grid__1x2">
    <div class="card__header">
      <img src="images/electrician-g4510ce393_1280.jpg" alt="" />
    </div>
    <div class="card__titles card__body">
      <h2>Motor Controls</h2>
      <p>
        Full Motor Control set-up for any Commercial, Industrial, or Resedential
        project
      </p>
    </div>
  </div>

  <div class="icon__services">
    <img src="images/lutron_icon.svg" alt="" />
  </div>
  <div class="card grid__1x2">
    <div class="card__header">
      <img src="images/lutron-logo.png" alt="" />
    </div>
    <div class="card__titles card__body">
      <h2>Lutron Automation</h2>
      <p>
        Full Motor Control set-up for any Commercial, Industrial, or Resedential
        project
      </p>
    </div>
  </div>

  <div class="icon__services">
    <img src="images/building-solid.svg" alt="" />
  </div>
  <div class="card grid__1x2">
    <div class="card__header">
      <img src="images/electrician-ga5e421a09_1280.jpg" alt="" />
    </div>
    <div class="card__titles card__body">
      <h2>Full Wiring Services</h2>
      <p>
        Full Motor Control set-up for any Commercial, Industrial, or Resedential
        project
      </p>
    </div>
  </div>
</div>
