<div class="container container__titles formheader__quote">
  <h2>Contact Us</h2>
</div>

<div class="container container__paragraph">
  <p>Fill out the FORM below to get ahold of us.</p>
</div>

<div class="container">
  <form action="https://formspree.io/f/mzbovykw" method="post">
    <div class="form__group">
      <input
        id="name"
        type="text"
        placeholder="Name"
        maxlength="50"
        name="name"
        required
      />
    </div>
    <div class="form__group">
      <input
        id="email"
        type="email"
        placeholder="Email"
        maxlength="50"
        name="email"
        required
      />
    </div>

    <div class="form__group">
      <textarea name="text" id="" cols="30" rows="8" placeholder="Type us a message here."></textarea>
    </div>
    <button class="quote__button" type="submit">SEND</button>
    
  </form>