<div class="container container__color container__icons">
  <div class="icon__card container__titles">
    <div class="icon__services">
      <img src="images/gears-solid.svg" alt="" />
    </div>
  </div>
  <div class="icon__card container__titles">
    <div class="icon__services">
      <img src="images/lutron_icon.svg" alt="" />
    </div>
  </div>
  <div class="icon__card container__titles">
    <div class="icon__services">
      <img src="images/building-solid.svg" alt="" />
    </div>
  </div>
  <div class="icon__card container__titles">
    <div class="icon__services">
      <img src="images/remodel.svg" alt="" />
    </div>
  </div>
</div>