<p class="text__paragraph">
    <span class="text__modifier--BOLD">Alter Electric Company</span>
    is certified in
    <span class="text__modifier--BOLD">Vantage Controls</span> and
    <span class="text__modifier--BOLD">
      Lutron Lighting Control Systems
    </span>
    with over
    <span class="text__modifier--BOLD">45 years of experience</span> in
    the electrical contractor industry. We pride ourselves in contuing to
    advance our knowledge in emerging lighting technologies to give our
    clients the best lighting experience the industry has to offer.
  </p>