<section>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-hammer"></i>
        </div>
        <h3>Motor Control Installation</h3>
        <p>
          Full Motor Control set-up for any Commercial, Industrial, or
          Resedential project. Our experienced team is well known in the greater
          Los Angeles area, providing quality motor control installations at any
          scale!
        </p>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-wrench"></i>
        </div>
        <h3>Lutron Controls Installation</h3>
        <p>
          Our experienced team is certified in advanced Lutron Control Systems,
          bringing you dynamic and repsonsive lighting for any size project.
        </p>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-plug"></i>
        </div>
        <h3>Full Wiring Services</h3>
        <p>
          Full Wiring Services from ground up. We provide all of your wiring
          needs for your residential, commercial, or inductrial needs.
        </p>
      </div>
    </div>
  </div>
</section>
