<div class="container__servicearea">
  <div class="container__titles container__titles-servicearea">
    <h2>Areas We Serve</h2>
    <ul class="list list__servearea">
      <li>Los Angeles County</li>
      <li>Beverly Hills</li>
      <li>San Fernando Valley</li>
      <li>Glendale</li>
      <li>Pasadena</li>
    </ul>
  </div>
  <div class="service-area">
    <div class="container__map">
      <iframe
        src="https://www.google.com/maps/d/embed?mid=1bfQlIa2ahrGdX23krBfxcQJgdMlnrfd0&ehbc=2E312F"
        width="640"
        height="480"
      ></iframe>
    </div>
  </div>
</div>
